.section {
    
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}



.text_main {
    color: rgba(255, 255, 255, 0.5);
    width: 486px;
    text-align: center;
    padding: 0 20px;
    line-height: 18px;
    letter-spacing: 0.02;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
}



