.startPageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #161616;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0.02em;
  padding: 0 20px;

  @media screen and (min-width: 375px) {
    width: 335px;
  }

  @media screen and (min-width: 768px) {
    width: 473px;
  }
}

.startPageImage {
  margin: 0 auto;
  width: 124px;
  height: 124px;
  margin-bottom: 14px;

  @media screen and (min-width: 768px) {
    width: 162px;
    height: 162px;
    margin-bottom: 24px;
  }
}

.startPageTitileBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 24px;
}

.startPageTitile {
  color: #161616;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.04em;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    letter-spacing: -1.6px;
  }
}

.startPageDescr {
  margin-bottom: 48px;
}

.startPageIcon {
  width: 40px;
  height: 40px;
  margin-right: 14px;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 48px;
  }
}

.startPageLinksBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 14px;
  justify-content: center;
  width: 100%;
}

.startPageLinks,
.startPageRegLink {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  padding: 14px 0px;
  border-radius: 8px;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
  @media screen and (min-width: 768px) {
    width: 344px;
  }
}

.startPageLinks {
  color: #161616;

  &:hover {
    color: #fff;
    background-color: #161616;
  }
}

.startPageRegLink {
  color: #fff;
  background-color: #161616;

  @media screen and (min-width: 768px) {
    width: 344px;
  }
}
