.main__header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;

  margin-right: 24px;
}
@media screen and (min-width: 1440px) {
  .main__header {
    margin-left: 284px;
  }
}

.title__main {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}
