.main__header{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-left: 24px;
    margin-right: 24px;
    
}

.title__main {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;

}
