.wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0 14px 0;

  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  color: #ffffff;
}

.title {
  max-width: 78px;
}
