
/* Container */
.container {
    display: block;
  }
  
  /* Title */
  .title {
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: -0.24px;
    line-height: 18px;
    margin-bottom: 4px;
    color: #bedbb0;
  }
  
  .title.dark {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .title.colorful,
  .title.light {
    color: rgba(22, 22, 22, 0.5);
  }
  
  /* Input Field */
  .input_field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 21px;
    text-align: left;
    padding-right: 18px;
    margin-bottom: 18px;
    background: inherit;
    border-radius: 16px;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.02em;
    cursor: pointer;
    color: #bedbb0;
  }
  
  .input_field.colorful {
    color: rgba(82, 85, 188, 1);
  }
  
  .input_field.dark,
  .input_field.light {
    color: rgba(190, 219, 176, 1);
  }