.board {
    padding: 0 20px 24px 20px;
    display: flex;
    gap: 34px;
    overflow: auto;
}

@media screen and (min-width: 768px) {
    .board {
        padding: 0 32px 24px 32px;
    }
}

@media screen and (min-width: 1440px) {
    .board {
        padding: 0 24px 24px 24px;
    }
}

.board::-webkit-scrollbar {
    height: 12px;
}

.board::-webkit-scrollbar-track {
    border-radius: 12px;
    background: #e8e8e8;
}

.board::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #e8e8e8;
}

.columnButton {
    min-width: 335px;
}

.columnList {
    display: flex;
    gap: 34px;
}