.card__item {
    display: flex;
    gap:8px;
    flex-direction: column;
    margin-bottom: 14px;
}

.column__item{
    display: flex;
    gap: 34px;
}

.btn__card{
    width: 100%;
    
}

.btn__text{
        display: flex;
            align-items: center;
            justify-content: center;
            
            border-radius: 6px;
            flex-shrink: 0;
            stroke: white;

}
