/* common button styles */
.button {
  min-width: fit-content;

  padding: 14px;

  font-size: 14px;
  font-family: Poppins;

  border: none;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button types */
.buttonMain {
  background-color: #bedbb0;
}
.buttonMain:hover {
  background-color: #9dc888;
}

.buttonDark {
  background-color: #161616;
  color: #ffffff;
}

.buttonTransparent {
  padding: 0;
  min-width: fit-content;

  background-color: transparent;
}
