.iconsPickerBlock {
    margin-bottom: 24px;
}

.iconsField {
    display: flex;
    gap: 8px;
}

.iconsTitle {
    display: block;
    margin-bottom: 14px;
    color: #161616;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
}

