.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal {
    position: relative;
    max-width: 400px;
    padding: 24px;
    border-radius: 8px;
    background: #FCFCFC;

    @media (max-width: 375px) {
        max-width: 325px;
    }
    
    @media (min-width: 375px)  {
        width: 350px;
    }
    
}