.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  position: relative;
  max-width: 400px;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid rgba(190, 219, 176, 0.5);
  background: #fcfcfc;

}

@media screen and (max-width: 767px) {
  .modal {
    width: 100%;
    max-width: 335px;
  }
}

@media screen and (min-width: 768px) {
    .modal {
        width: 350px;
    }
}
