/* wrappers */
.wrapper {
  padding: 21px 14px;

  font-size: 12px;
  text-align: start;

  /* just dev color, will be changed later */
  background-color: #fff;
  border-left: 4px solid var(--priority-color);
}

.overWrapper {
  max-width: 335px;

  overflow: hidden;
  border-radius: 8px;
}

.additionWrapper {
  padding-top: 14px;

  display: flex;
  align-items: flex-end;

  text-transform: capitalize;
  font-size: 10px;

  border-top: 1px solid rgba(22, 22, 22, 0.1);
}

/* additional section of card */
.additionInfoHeading {
  margin-bottom: 4px;

  font-size: 8px;

  color: rgba(22, 22, 22, 0.5);
}

.additionInfo:first-child {
  margin-right: 14px;
}

.priority {
  display: flex;
  align-items: center;
}

.priority::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;

  margin-right: 4px;

  background-color: inherit;
  background-color: var(--priority-color);
  border-radius: 50%;
}

/* typography */
.title {
  margin-bottom: 8px;

  font-size: 14px;
}

.desc {
  margin-bottom: 14px;

  font-size: 12px;

  color: rgba(22, 22, 22, 0.7);
}

/* everything related to svg icons */
.iconButtsList {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.iconButtsList_Deadline{
  margin-left: 0;
}

.iconButtonItem {
  display: flex;
  align-items: flex-end;
}

.iconButtonItem:not(:last-child) {
  margin-right: 8px;
}

.icon {
  stroke: rgba(22, 22, 22, 0.5);
  stroke-width: 1px;
  fill: none;
}

.iconBell {
  margin-left: auto;
  margin-right: 13px;

  stroke: rgb(82, 85, 188);
  stroke-width: 2px;
}
