.section {
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 68px);
}

@media screen and (min-width: 1440px) {
    .section {
        
        height: calc(100vh - 68px);
    }
}

.text__wrapp {
    color: red;
    width: 486px;
    text-align: center;
    padding: 0 20px;
    line-height: 18px;
    letter-spacing: 0.02;
    font-weight: 400;
    font-size: 14px;
}

.button {
    color: green;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.button:hover {
    color: yellow;
}

@media screen and (max-width: 374px) {
    .section {
        width: 100%;
        height: 100vh;
    }

    .text__wrapp {
        width: 100%;
        font-size: 12px;
        line-height: 16px;
        width: 335px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .text__wrapp {
        font-size: 12px;
        line-height: 16px;
        width: 335px;
    }

    /* .section {
    width: 375px;
    height: 812px;
  } */
}

@media screen and (min-width: 768px) and (max-width: 1439px) {

    /* .section {
    width: 768px;
    height: 1024px;
    overflow: hidden;
  } */
    .text__wrapp {
        width: 486px;
    }
}

@media screen and (min-width: 1440px) {
    /* .section {
    width: 1440px;
    height: 770px;
  } */
}