/* dark */
.board {
  display: flex;

  gap: 43px;
  justify-content: space-between;
  width: 217px;
  height: 61px;
  padding: 22px 10px 22px 14px;
  transition: 250ms;
}

@media screen and (min-width: 768px) {
  .board {
    width: 252px;

    padding: 22px 14px 22px 24px;
    gap: 58px;
  }
}

/* light */
.lightBoard {
  display: flex;
  gap: 43px;
  justify-content: space-between;
  width: 217px;
  height: 61px;
  padding: 22px 10px 22px 14px;
  transition: 250ms;
}
@media screen and (min-width: 768px) {
  .lightBoard {
    width: 252px;

    padding: 22px 14px 22px 24px;
    gap: 58px;
  }

  .lightBoard:hover {
    background-color: #f6f6f7;
  }
}

/* violet */
.violetBoard {
  display: flex;
  /* position: absolute;
  left: 0px; */
  gap: 43px;
  justify-content: space-between;
  width: 217px;
  height: 61px;
  padding: 22px 10px 22px 14px;
  transition: 250ms;
}
@media screen and (min-width: 768px) {
  .violetBoard {
    width: 252px;

    padding: 22px 14px 22px 24px;
    gap: 58px;
  }

  .violetBoard {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

/* dark */
.selectedBoard {
  position: relative;
  cursor: pointer;
  background-color: #1f1f1f;
}

.selectedBoard::after {
  content: '';
  width: 4px;
  height: 61px;
  background-color: #bedbb0;
  /* display: block; */
  /* border-radius: 10% 0 0 10%; */
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
}

/* light */
.lightSelectedBoard {
  position: relative;
  cursor: pointer;
  background-color: #f6f6f7;
}
.lightSelectedBoard::after {
  content: '';
  width: 4px;
  height: 61px;
  background-color: #bedbb0;
  /* display: block; */
  /* border-radius: 10% 0 0 10%; */
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
}

/* violet */
.violetSelectedBoard {
  position: relative;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
.violetSelectedBoard::after {
  content: '';
  width: 4px;
  height: 61px;
  background-color: #ffffff;
  /* display: block; */
  /* border-radius: 10% 0 0 10%; */
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
}

.boardIconTittleContainer {
  display: flex;
  align-items: flex-end;
}

.boardIcon {
  stroke: #ffffff;
}

.boardIconTittle {
  display: flex;
}

.boardTittle {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;

  line-height: normal;
  letter-spacing: -0.28px;
  margin-left: 4px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 88px;
}

@media screen and (min-width: 768px) {
  .boardTittle {
    margin-left: 8px;
  }
}

.boardBtnContainer {
  display: flex;
  gap: 8px;
}

.boardBtn {
  padding: 0;
  background-color: transparent;
  border: transparent;
}

.boardIconBtns {
  stroke: #ffffff80;
  cursor: pointer;
}
