.board {
  display: flex;
  /* position: absolute;
  left: 0px; */
  gap: 43px;
  justify-content: space-between;
  width: 217px;
  height: 61px;
  padding: 22px 10px 22px 14px;
  transition: 250ms;

  @media screen and (min-width: 768px) {
    width: 252px;

    padding: 22px 14px 22px 24px;
    gap: 58px;
  }

  &:hover {
    background-color: #1f1f1f;
  }
}



.selectedBoard {
  background-color: #ffcc00; /* Цвет подсветки */
  color: #fff; /* Цвет текста */
  cursor: pointer; /* Изменение формы курсора при наведении */
}

.boardIconTittleContainer {
  display: flex;
}

.boardIcon {
  stroke: #ffffff;
}

.boardIconTittle {
  display: flex;
}

.boardTittle {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;

  line-height: normal;
  letter-spacing: -0.28px;
  margin-left: 4px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 88px;

  @media screen and (min-width: 768px) {
    margin-left: 8px;
  }
}

.boardBtnContainer {
  display: flex;
  gap: 8px;
}

.boardBtn {
  padding: 0;
  background-color: transparent;
  border: transparent;
}

.boardIconBtns {
  stroke: #ffffff80;
  cursor: pointer;
}
