.backgroundsPickerBlock {
    margin-bottom: 40px;
}

.backgroundsField {
    width: 94%;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.backgroundsTitle {
    display: block;
    margin-bottom: 14px;
    color: #161616;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
}