.backgroundsPickerBlock {
    margin-bottom: 40px;
}

.backgroundsField {
    display: flex;
        gap: 4px;
        flex-wrap: wrap;
}

.backgroundsImg {
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 6px;
}