.section {
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 68px);
}



.text_main {
    color: #161616;
    width: 486px;
    text-align: center;
    padding: 0 20px;
    line-height: 18px;
    letter-spacing: 0.02;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
}

.button {
    color: #BEDBB0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.button:hover {
    color: red;
}
