.icon {
  stroke: rgba(22, 22, 22, 0.5);
  stroke-width: 1px;
  fill: none;
  position: static;
}

.iconButtonItem {
  display: flex;
  align-items: flex-end;
}

.iconButtonItem:not(:last-child) {
  margin-right: 8px;
}

.iconBell {
  margin-left: auto;
  margin-right: 13px;

  stroke: rgb(82, 85, 188);
  stroke-width: 2px;

  filter: drop-shadow(0 0 2px rgba(82, 85, 188, 0.3));
  cursor: auto;
}